*{
    margin: 0;
    padding: 0;
}
body{
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
}
ul, li{
    list-style: none;
    padding: 0;
}
.container{
    max-width: 870px;
    margin: 0 auto;
}
.header{
    padding-top: 40px;
}
.header .container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.nav-list{
    list-style: none;
    display: flex;
    padding: 0;
}
.nav-item{
    margin-left: 24px;
}
.nav-link{
    color: #BF7506;
    font-size: 16px;
    line-height: 150%;
}
.nav-link.active{
    font-weight: bold;
}
.main{
    padding-top: 70px;
}
.main .container{
    display: flex;
    align-items: center;
}
.main-avatar{
    max-width: 212px;
}

.main-info{
    margin-left: 27px;
}
.main-title{
    font-size: 48px;
    line-height: 125%;
    font-weight: bold;
    letter-spacing: -0.03em;
    padding: 0;
}
.main-description{
    font-size: 24px;
    line-height: 135%;
    font-weight: bold;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
    max-width: 510px;
}
.main-description span{
    color: #BF7506;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-link{
    padding: 8px;
}
.main-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cv-download{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #BF7506;
    padding: 7px 5px 8px;
}
.cv-text{
    font-size: 16px;
    line-height: 150%;
    font-weight: bold;
    color: #211B12;
}
